
Name:Tejaswini Gokanakonda

Roll no:DE142

Date:12-11-2024 :

In [1]:
str1 = 'Hexforhexa'

upper = lambda string: string.upper()
print(upper(str1))

HEXFORHEXA

In [2]:
format_numeric = lambda num: f"{num:e}" if isinstance(num, int) else f"{num:,.2f}"

print("Int formatting:", format_numeric(1000000))
print("float formatting:", format_numeric(999999.789541235))

Int formatting: 1.000000e+06
float formatting: 999,999.79

In [3]:
def cube(y):
 return y*y*y

lambda_cube = lambda y: y*y*y
print("Using function defined with `def` keyword, cube:", cube(5))
print("Using lambda function, cube:", lambda_cube(5))

Using function defined with `def` keyword, cube: 125
Using lambda function, cube: 125

In [4]:
is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]
for item in is_even_list:
 print(item())

10
20
30
40

In [5]:
Max = lambda a, b : a if(a > b) else b
print(Max(1, 2))

2

In [6]:
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]

sortList = lambda x: (sorted(i) for i in x)
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)

print(res)

[3, 16, 9]

In [7]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(filter(lambda x: (x % 2 != 0), li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [8]:
ages = [13, 90, 17, 59, 21, 60, 5]
adults = list(filter(lambda age: age > 18, ages))

print(adults)

[90, 59, 21, 60]

In [10]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]



final_list = list(filter(lambda x: (x * 2) % 10 != 0, li))
print(final_list)

final_list = list(filter(lambda x: x % 2 != 0, map(lambda x: x*2, li)))
print(final_list)

[7, 22, 97, 54, 62, 77, 23, 73, 61]
[]

In [11]:
animals = ['dog', 'cat', 'parrot', 'rabbit']
uppered_animals = list(map(lambda animal: animal.upper(), animals))

print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [13]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
# The lambda function should accept only two arguments, x and y.
sum = reduce((lambda x, y: x + y), li)
print(sum)

193

In [14]:
import functools
lis = [1, 3, 5, 6, 2, ]
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The maximum element of the list is : 6